@model ProyectoPI.Models.REQUERIMIENTOS

@{
    ViewBag.Title = "Delete";
    string idProy = ViewBag.idProy;
    string estadoActual = ViewBag.estadoActual;
    string dificultad = ViewBag.dificultad;
    string tester = ViewBag.tester;
    List<SelectListItem> testersDisp = ViewBag.testerDisp;
}

<h2 class="titulosPag">ELIMINAR REQUERIMIENTO: @Model.nombrePK</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.PROYECTO.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PROYECTO.nombre)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.dificultad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dificultad)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaEntrega)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.horasEstimadas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horasEstimadas)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.horasReales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horasReales)
        </dd>
        <br />
        <dt>
            Tester Asignado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMPLEADO.nombre)
        </dd>
        <div style=" right:3000px;width:800px " class="jumbotron">
            <p style="text-align:center" display-1">Resultados Finales</p>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.estado_final)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.estado_final)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.descripcion_resultado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.descripcion_resultado)
            </dd>

        </div>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="botonGeneral colorRojo" data-toggle="modal" data-target="#eliminar">
                    Eliminar
                </button>
                <!-- Modal -->
                <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><strong>¿Está seguro que desea elimiar el requerimiento?</strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Eliminar" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    <div>
        @Html.ActionLink("Volver", "Index", new { id = Model.idFK }, new { @class = "botonGeneral colorGris" })
    </div>
</div>
