@model ProyectoPI.Models.REQUERIMIENTOS

@{
    ViewBag.Title = "Delete";
    string idProy = ViewBag.idProy;
    string estadoActual = ViewBag.estadoActual;
    string dificultad = ViewBag.dificultad;
    string tester = ViewBag.tester;
    List<SelectListItem> testersDisp = ViewBag.testerDisp;
}

<h2 class="titulosPag">ELIMINAR REQUERIMIENTO: @Model.nombrePK</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horasReales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horasReales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horasEstimadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horasEstimadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dificultad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dificultad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROYECTO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROYECTO.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ActionLink("Volver", "Index", new { id = Model.idFK }, new { @class = "botonGeneral colorGris" })
        </div>
    }
</div>
