@model ProyectoPI.Models.REQUERIMIENTOS

@{
    ViewBag.Title = "Details";
}

@{
    string rol = ViewBag.rol;
}


<h2 class="titulosPag">Detalles Requerimiento: @Model.nombrePK</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.PROYECTO.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PROYECTO.nombre)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.dificultad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dificultad)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaEntrega)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.horasEstimadas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horasEstimadas)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.horasReales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horasReales)
        </dd>
        <br />
        <dt>
            Tester Asignado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMPLEADO.nombre)
        </dd>
        <div style=" right:3000px;width:800px " class="jumbotron">
            <p style="text-align:center" display-1">Resultados Finales</p>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.estado_final)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.estado_final)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.descripcion_resultado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.descripcion_resultado)
            </dd>

        </div>


    </dl>
</div>

@if (@rol.Equals("Jefe", StringComparison.InvariantCultureIgnoreCase))
{
   
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Modificar", "Edit", new { id = Model.idFK }, new { @class = "botonGeneral colorVerde" })
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Eliminar", "Delete", new { id = Model.idFK }, new { @class = "botonGeneral colorRojo" })
        </div>
    }


<div class="form-actions no-color">
    @Html.ActionLink("Volver", "Index", new { id = Model.idFK }, new { @class = "botonGeneral colorGris" })
</div>
