@model IEnumerable<ProyectoPI.Models.REQUERIMIENTOS>
    @{
    ViewBag.Title = "Requerimiento";
    }
    @{
        string rol = ViewBag.myRol;
        string idProy= ViewBag.idProy;
        string proy = ViewBag.nombre;
    }
    <h2 class="titulosPag">Requerimientos @proy</h2>
    @if (@rol.Equals("Jefe", StringComparison.InvariantCultureIgnoreCase))
    {
    <p>
        @Html.ActionLink("Crear Nuevo Requerimiento", "Create", new { id = idProy }, new { @class = "botonGeneral botonCrear" })

    </p>
    }



    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img src="../Img/req.jpg" class="card-img-top" alt="...">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.nombrePK) </h4>
                    <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.cedulaFK)</small></p>
         
                    <p class="card-text">

                        @Html.ActionLink("Consultar", "Details", new { id = item.nombrePK, idpro= idProy}, new { @class = "botonGeneral colorCeleste" })
                        @if (@rol.Equals("Jefe", StringComparison.InvariantCultureIgnoreCase))
                        {
                        @Html.ActionLink("Modificar", "Edit", new { id = item.nombrePK }, new { @class = "botonGeneral colorCeleste" })
                        }
                    </p>
                    <p class="card-text marginElim">
                        @if (@rol.Equals("Jefe", StringComparison.InvariantCultureIgnoreCase))
                        {
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.nombrePK }, new { @class = "botonGeneral colorCeleste" })

                        }
                    </p>
                </div>
            </div>

        </div>
        }

    </div>




