@model ProyectoPI.Models.PRUEBAS

@{
    ViewBag.Title = "Create";
    string idProyecto = ViewBag.idProy;
    string nombreReq = ViewBag.nomReq;
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>PRUEBAS</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" id="idProyFK" name="idProyFK" value=@idProyecto>
    <input type="hidden" id="nombreReqFK" name="nombreReqFK" value=@nombreReq>
    <h1> id =  @idProyecto </h1>
    <h1> nombre =  @nombreReq </h1>

    <div class="form-group">
        @Html.LabelFor(model => model.nombrePK, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombrePK, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombrePK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EstadoFinal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="EstadoFinal" name="EstadoFinal" required="required">
                <option value="" disabled hidden selected>Seleccione el Estado</option>
                <option>Incompleto</option>
                <option>Exitoso</option>
                <option>Falló</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.resultadoDetalles, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.resultadoDetalles, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.resultadoDetalles, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
