@model ProyectoPI.Models.PRUEBAS

@{
    ViewBag.Title = "Details";
    string idProyecto = ViewBag.idProy;
    string nombreReq = ViewBag.nomReq;
    string nombrePK = ViewBag.nomPK;
    string nombreProyecto = ViewBag.nomProy;
    string rol = ViewBag.my_rol;


}

<h2 class="titulosPag">consultar prueba @nombrePK</h2>
<h3 class="miniTitulosPag">Proyecto: @nombreProyecto</h3>
<h3 class="miniTitulosPag">Requerimiento: @nombreReq</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resultadoDetalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resultadoDetalles)
        </dd>
    </dl>
</div>
@if (!@rol.Equals("Cliente", StringComparison.InvariantCultureIgnoreCase))
{
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Modificar", "Edit", new { id = @idProyecto, nombreReq = @nombreReq, nombrePK = nombrePK, nombreProyecto = @nombreProyecto }, new { @class = "botonGeneral colorVerde" })
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Eliminar", "Delete", new { id = @idProyecto, nombreReq = @nombreReq, nombrePK = nombrePK, nombreProyecto = @nombreProyecto }, new { @class = "botonGeneral colorRojo" })
    </div>
}
<div class="form-actions no-color">
    @Html.ActionLink("Volver", "Index", new { id = @idProyecto, nombre = @nombreReq, nombreProyecto = @nombreProyecto }, new { @class = "botonGeneral colorGris" })
</div>
