@model IEnumerable<ProyectoPI.Models.PRUEBAS>

    @{
    ViewBag.Title = "Pruebas";
    }
    <h2 class="titulosPag">Prueba</h2>
    @Html.ActionLink("Crear prueba", "Create", null, new { @class = "botonGeneral botonCrear" })

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.EstadoFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resultadoDetalles)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.EstadoFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resultadoDetalles)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }

    </table>
