@model IEnumerable<ProyectoPI.Models.PRUEBAS>

@{
    ViewBag.Title = "Index";
    string idProyecto = ViewBag.idProy;
    string nombreReq = ViewBag.nomReq;
    string nombreProyecto = ViewBag.nomProy;
}
<h2 class="titulosPag">Pruebas</h2>
<h3 class="miniTitulosPag">Proyecto: @nombreProyecto</h3>
<h3 class="miniTitulosPag">Requerimiento: @nombreReq</h3>

<p>
    @Html.ActionLink("Crear Nueva Prueba", "Create", new { id = @idProyecto, nombre = @nombreReq, nombreProyecto = @nombreProyecto }, new { @class = "botonGeneral botonCrear" })
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img src="../Img/emp.jpg" class="card-img-top" alt="..."/>
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.nombrePK) </h4>
                    <p class="card-text"><small class="text-muted">@Html.DisplayFor(model => item.EstadoFinal)</small></p>

                    <p class="card-text">
                        @Html.ActionLink("Consultar", "Details", new { id = item.idProyFK, nombreReq = item.nombreReqFK, nombrePK = item.nombrePK, nombreProyecto = @nombreProyecto }, new { @class = "botonGeneral colorCeleste" })
                        @Html.ActionLink("Modificar", "Edit", new { id = item.idProyFK, nombreReq = item.nombreReqFK, nombrePK = item.nombrePK, nombreProyecto = @nombreProyecto }, new { @class = "botonGeneral colorCeleste" })
                    </p>
                    <p class="card-text marginElim">
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idProyFK, nombreReq = item.nombreReqFK, nombrePK = item.nombrePK, nombreProyecto = @nombreProyecto }, new { @class = "botonGeneral colorCeleste" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>
