@model IEnumerable<ProyectoPI.Models.HABILIDADES>

@{
    ViewBag.Title = "Delete";
}

<h2 class="titulosPag">eliminar habilidad</h2>

<div>
    <hr />
    <dl class="dl-horizontal"></dl>




</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cedulaEmpleadoFK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorPK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoPK)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cedulaEmpleadoFK)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorPK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoPK)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteConfirmed", "HABILIDADES", new { id = item.cedulaEmpleadoFK, valor = item.valorPK, tipo = item.tipoPK }, null)

            </td>
        </tr>
    }
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="botonGeneral colorRojo" data-toggle="modal" data-target="#eliminar">
                Eliminar
            </button>
            <!-- Modal -->
            <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><strong>¿Está seguro que desea elimiar el proyecto?</strong></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <input type="submit" value="Eliminar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-actions no-color">
        @{
            string values = ViewBag.ced;
        }
        @Html.ActionLink("Volver", "Index", new { id = values }, new { @class = "botonGeneral colorGris" })
    </div>
}



