@model ProyectoPI.Models.PROYECTO

@{
    ViewBag.Title = "Delete";
}
@{
    string rol = ViewBag.rol;
}

<h2 class="titulosPag">Elminar Proyecto</h2>

@if (@rol.Equals("Jefe", StringComparison.InvariantCultureIgnoreCase))
{
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <br />
        <dt>
            @Html.Label("Cliente asignado al proyecto")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CLIENTE.nombre)&nbsp;@Html.DisplayFor(model => model.CLIENTE.primerApellido)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.objetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.objetivo)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>
        <br />
        <dt>
            @Html.Label("Lider actual", htmlAttributes: new { @class = "control-label col-md-18" })
        </dt>
        @{
            string liderActual = ViewBag.liderActual;
        }
        <dd>
            @liderActual
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.fechaFinalizacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaFinalizacion)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.duracionEstimada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.duracionEstimada)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.duracionReal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.duracionReal)
        </dd>
        <br />

    </dl>

    @{
        string cedulaLiderActual = ViewBag.cedulaLiderActual;
    }




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="botonGeneral colorRojo" data-toggle="modal" data-target="#eliminar">
                    Eliminar
                </button>
                <!-- Modal -->
                <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><strong>¿Está seguro que desea elimiar el proyecto?</strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Eliminar" class="btn btn-success" />
                                <input type="hidden" id="cedulaLiderActual" name="cedulaLiderActual" value=@cedulaLiderActual>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
}
else
{
    <h1>Los @rol NO PUEDEN ELIMINAR PROYECTOS</h1>
}
    <div class="form-actions no-color">
        @Html.ActionLink("Volver", "Index", null, new { @class = "botonGeneral colorGris" })
    </div>
