@model IEnumerable<ProyectoPI.Models.PROYECTO>

@{
    ViewBag.Title = "Index";
}

<h2 class="titulosPag">Proyecto</h2>

@{
    string rol = ViewBag.rol;
}
<h3>Rol: @rol</h3>


@if (@rol.Equals("Jefe", StringComparison.InvariantCultureIgnoreCase))
{
    <p>
        @Html.ActionLink("Crear Nuevo Proyecto", "Create", null, new { @class = "botonGeneral colorVerde" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTE.cedulaPK)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLIENTE.cedulaPK)
            </td>
            <td>
                @if (@rol == "Jefe")
                {
                    @:@Html.ActionLink("Consultar", "Details", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })&nbsp;
                    @:@Html.ActionLink("Modificar", "Edit", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })&nbsp;
                    @:@Html.ActionLink("Eliminar", "Delete", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })
                }
                else
                {
                    @:@Html.ActionLink("Consultar", "Details", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })
                }

            </td>
        </tr>
    }

</table>
