@model IEnumerable<ProyectoPI.Models.PROYECTO>

@{
    ViewBag.Title = "Index";
}

<h2 class="titulosPag">Proyecto</h2>

@{
    string rol = ViewBag.rol;
    bool proyectos = ViewBag.proyectos;
}



@if (@rol.Equals("Jefe", StringComparison.InvariantCultureIgnoreCase))
{
    <p>
        @Html.ActionLink("Crear Nuevo Proyecto", "Create", null, new { @class = "botonGeneral colorVerde" })
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../Img/proy.jpg" class="card-img-top" alt="...">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.nombre) </h4>
                        <p class="card-text"><small class="text-muted">Cliente: @Html.DisplayFor(modelItem => item.CLIENTE.nombre)</small>
                        <p class="card-text"><small class="text-muted">Objetivo: @Html.DisplayFor(modelItem => item.objetivo)</small></p>

                        @if (@rol.Equals("Jefe", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <p class="card-text">
                                @Html.ActionLink("Consultar", "Details", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })
                                @Html.ActionLink("Modificar", "Edit", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })
                            </p>
                            <p class="card-text marginElim">@Html.ActionLink("Eliminar", "Delete", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })</p>
                        }
                        else
                        {
                            <p class="card-text">
                                @Html.ActionLink("Consultar", "Details", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })
                            </p>
                        }
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    if (proyectos == true)
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="../Img/proy.jpg" class="card-img-top" alt="...">
                            <h4 class="card-title">@Html.DisplayFor(modelItem => item.nombre) </h4>
                            <p class="card-text"><small class="text-muted">Cliente: @Html.DisplayFor(modelItem => item.CLIENTE.nombre)</small></p>
                            <p class="card-text"><small class="text-muted">Objetivo: @Html.DisplayFor(modelItem => item.objetivo)</small></p>

                            @if (@rol.Equals("Jefe", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <p class="card-text">
                                    @Html.ActionLink("Consultar", "Details", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })
                                    @Html.ActionLink("Modificar", "Edit", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })
                                </p>
                                <p class="card-text marginElim">@Html.ActionLink("Eliminar", "Delete", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })</p>
                            }
                            else
                            {
                                <p class="card-text">
                                    @Html.ActionLink("Consultar", "Details", new { id = item.idPK }, new { @class = "botonGeneral colorCeleste" })
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <h1> No ha participado en ningún proyecto </h1>
    }
}



