@model IEnumerable<ProyectoPI.Models.PROYECTO>

@{
    ViewBag.Title = "Index";
}

<h2>Proyecto</h2>

@{
    string rol = ViewBag.rol;
}
<h3>Rol: @rol</h3>


@if(@rol.Equals("Jefe", StringComparison.InvariantCultureIgnoreCase)){ 
<p>
    @Html.ActionLink("Crear Nuevo Proyecto", "Create", null, new { @class = "btn btn-success" })
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTE.cedulaPK)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLIENTE.cedulaPK)
            </td>
            <td>
                @if (@rol == "Jefe")
                {
                    @:@Html.ActionLink("Editar ", "Edit", new { id = item.idPK })|
                    @:@Html.ActionLink(" Detalles ", "Details", new { id = item.idPK })|
                    @:@Html.ActionLink(" Eliminar", "Delete", new { id = item.idPK })
                }else{
                    @Html.ActionLink("Detalles", "Details", new { id = item.idPK })
                }

            </td>
        </tr>
    }

</table>
