@model List<ProyectoPI.Models.PROYECTO>
@{
    ViewBag.Title = "Grafico Duracion Proyecto";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cliente", "Index", "CLIENTE")</li>
                    <li>@Html.ActionLink("Proyecto", "Index", "PROYECTOes")</li>
                    <li>@Html.ActionLink("Equipo", "Index", "PARTICIPA")</li>
                    <li>@Html.ActionLink("Empleado", "Index", "EMPLEADO")</li>
                    <li>@Html.ActionLink("Reportes", "Index", "Consultas")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <h2 class="titulosPag">Duraciones de Proyecto</h2>
    <h3 class="miniTitulosPag"> Escoger Proyecto </h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="../Img/proy.jpg" class="card-img-top" alt="...">
                            <h4 class="card-title">@Html.DisplayFor(x => item.nombre) </h4>
                            <p class="card-text">
                                @Html.ActionLink("Realizar Consulta", "MostrarDuracionProy", new { proy = item.idPK }, new { @class = "botonGeneral colorCeleste" })
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
    <div>
        @Html.ActionLink("Volver", "Index", null, new { @class = "botonGeneral colorGris" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    }
</body>
</html>

