@model ProyectoPI.Models.NumHab

@{
    ViewBag.Title = "Create";



}

<h2 class="titulosPag">Habilidades de los Empleados en la Empresa</h2>
<div style="width: 45%;float: left">
    <h4>Habilidades Tecnicas</h4>
</div>
<div style="width: 45%;float: right">
    <h4>Habilidades Blandas</h4>
</div>
<div style="width: 45%;float: left">
    <img src="@Url.Action("GraficoHabEmp",new {tipoHab="Tecnica"})" alt="Pie Chart using MVC" />
</div>

<div style="width: 45%;float: right">
    <img src="@Url.Action("GraficoHabEmp",new { tipoHab = "Blanda"})" alt="Pie Chart using MVC" />
</div>

<div style="width: 100%;float: left">
    <br/>
    <br/>
</div>

<div style="overflow-y: scroll; width: 45%;height:250px; float: left" class="jumbotron">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blanda in ViewData["HabT"] as IList<ProyectoPI.Models.NumHab>)
            {
                <tr>
                    <td> @blanda.Habilidad</td>
                    <td> @blanda.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div style="overflow-y: scroll; width: 45%;height:250px; float: right" class="jumbotron">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blanda in ViewData["HabB"] as IList<ProyectoPI.Models.NumHab>)
            {
                <tr>
                    <td> @blanda.Habilidad</td>
                    <td> @blanda.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div style="width: 100%; float:left">
    @Html.ActionLink("Volver", "Index", null, new { @class = "botonGeneral colorGris" })
</div>
