@model List<ProyectoPI.Models.EstadoAsigReq>
@{
    ViewBag.Title = "Requerimiento";
}
@{
    string rol = ViewBag.myRol;
  
}
<h2 class="titulosPag">Estado y Asignacion de Requerimientos</h2>

<div style=" right:3000px;width:800px ;height:auto" class="jumbotron">
    <p style="text-align:center" display-1">Resultados</p>
        <p style="font-size:15px">
        </p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Requerimiento</th>
                    <th scope="col">Estado Actual</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.cedulaPK)</td>
                        <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.nombrePK)</td>
                        <td>@Html.DisplayFor(modelItem => item.estado_actual)</td>
                    </tr>
                }
                </tbody>
        </table>

       
    




</div>




<div>
    @Html.ActionLink("Volver", "EstadoTesterReq", null, new { @class = "botonGeneral colorGris" })
</div>
