@model List<ProyectoPI.Models.EstadoAsigReq>
@{
    ViewBag.Title = "Requerimiento";
}
@{
    string rol = ViewBag.myRol;
  
}
<h2 class="titulosPag">Estado y Asignacion de Requerimientos</h2>

<div style=" right:3000px;width:1150px ;height:auto" class="jumbotron">
    <p style="text-align:center" display-1">Resultados</p>
        <p style="font-size:15px">
        </p>
        <table class="table">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">Tester</th>

                    <th scope="col">Correo</th>
                    <th scope="col">Requerimiento</th>
                    <th scope="col">Estado Actual</th>
                    <th scope="col">Fecha de Inicio</th>

                    <th scope="col">Dias Transcurridos</th>
                    <th scope="col">Fecha Actual</th>
                    <th scope="col">Fecha de Finalizacion</th>
                    <th scope="col">Dias Restantes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.correo)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombrePK)</td>
                    <td>@Html.DisplayFor(modelItem => item.estado_actual)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>

                    <td>@Html.DisplayFor(modelItem => item.dias)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaActual)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaEntrega)</td>
                    <td>@Html.DisplayFor(modelItem => item.diasf)</td>
                </tr>
                }
                </tbody>
        </table>

       
    




</div>




<div>
    @Html.ActionLink("Volver", "EstadoTesterReq", null, new { @class = "botonGeneral colorGris" })
</div>
