@model ProyectoPI.Models.NumHab
@{
    ViewBag.Title = "Create";
    string proy = ViewBag.idProy;


}

<h2 class="titulosPag">Habilidades de Equipo de Proyecto</h2>
<div style="width: 45%;float: left">
    <h4>Habilidades Tecnicas</h4>
</div>
<div style="width: 45%;float: right">
    <h4>Habilidades Blandas</h4>
</div>
<div style="width: 45%;float: left">
    <img src="@Url.Action("GraficoHabEquipo",new {tipoHab="Tecnica", idProy=proy})" alt="Pie Chart using MVC" />
</div>

<div style="width: 45%;float: right">
    <img src="@Url.Action("GraficoHabEquipo",new { tipoHab = "Blanda",idProy=proy})" alt="Pie Chart using MVC" />
</div>

<div style="width: 100%;float: left">
    <br />
    <br />
</div>

<div style="overflow-y: scroll; width: 45%;height:250px; float: left" class="jumbotron">
    <p style="text-align:center" display-1">Resultados Habilidades Técnicas</p>
    <p style="font-size:15px">
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blanda in ViewData["HabT"] as IList<ProyectoPI.Models.NumHab>)
            {
                <tr>
                    <td> @blanda.Habilidad</td>
                    <td> @blanda.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div style="overflow-y: scroll; width: 45%;height:250px; float: right" class="jumbotron">
    <p style="text-align:center" display-1">Resultados Habilidades Blandas</p>
    <p style="font-size:15px">
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blanda in ViewData["HabB"] as IList<ProyectoPI.Models.NumHab>)
            {
                <tr>
                    <td> @blanda.Habilidad</td>
                    <td> @blanda.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div style="width: 100%; float:left">
    @Html.ActionLink("Volver", "HabilidadesEquipo", null, new { @class = "botonGeneral colorGris" })
</div>