@model ProyectoPI.Models.PARTICIPA

@{
    ViewBag.Title = "Create";
}

<h2>Se agregará el siguiente empleado al Equipo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.cedulaEmpleadoFK, "cedulaEmpleadoFK", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.rol, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idProyectoFK, "idProyectoFK", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}