@model Tuple<ProyectoPI.Models.HabilidadEmpleadoModel, ProyectoPI.Models.EquipoModel>

@{
    ViewBag.Title = "Editar Equipo:";
}


@{
    string id = ViewBag.id;
    string rol = ViewBag.rol;
    bool maxEquipo = ViewBag.maximoEq;
    bool soyTester = rol.Equals("Tester", StringComparison.InvariantCultureIgnoreCase);
    bool soyCliente = rol.Equals("Cliente", StringComparison.InvariantCultureIgnoreCase);
    bool soyLider = rol.Equals("Lider", StringComparison.InvariantCultureIgnoreCase);

}


@if (!soyTester && !soyCliente)
{
    <h2 class="titulosPag">Editar Equipo del Proyecto: @ViewBag.nomProyecto</h2>
    if (!maxEquipo)
    {
        <div style="width: 50%;float: left">
            <h2>Empleados Disponibles</h2>
            <br />
            <p>
                @using (Html.BeginForm("Edit", "PARTICIPA", FormMethod.Get))
                {
                    <b> Buscar Por Habilidades:</b>
                    @Html.RadioButton("buscarPor", "Tecnica") <text>Técnicas</text>
                    @Html.RadioButton("buscarPor", "Blanda") <text>Blandas</text>
                    <br />
                    <br />
                    @Html.TextBox("filtroBusqueda")<input type="submit" value="Buscar" />
                }
            </p>
        </div>
        <div style="width: 50%; float: right;">
            <h2>Miembros de Equipo </h2>
        </div>
        <div style="width: 100%; float: right;">
        </div>

        <div style="overflow-y: scroll; width: 45%;height:250px; float: left">
            <table class="table">
                <thead>
                    <tr>
                        <th>Empleado</th>
                        <th>Tipo</th>
                        <th>Habilidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if ((ViewData["empleados"] as IList<ProyectoPI.Models.HabilidadEmpleadoModel>).Count() == 0)
                    {
                        <tr>
                            <td colspan="4" style="color:red">
                                No se han encontrado empleados con el criterio ingresado
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var empleado in ViewData["empleados"] as IList<ProyectoPI.Models.HabilidadEmpleadoModel>)
                        {

                            <tr>
                                <td> @empleado.nombre</td>
                                <td> @empleado.tipoHabilidad</td>
                                <td> @empleado.habilidad </td>
                                <td>
                                    @using (Html.BeginForm("AgregarTester", "PARTICIPA"))
                                    {
                                        @Html.Hidden("idProyecto", @id)
                                        @Html.Hidden("idEmpleado", empleado.personalID)
                                        <input class="botonGeneral colorVerde" type="submit" value="Agregar" />
                                    }

                                </td>

                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div style="width: 50%; float: left">
            <h2>Empleados Disponibles</h2>
        </div>
        <p style="position: absolute; color:red;top:50%">
            El equipo ha alcanzado el máximo de integrantes permitido
        </p>
        <div style="width: 50%; float: right;">
            <h2>Miembros de Equipo </h2>
        </div>
    }



}
else
{
    <div style="width: 100%; float: right">
        <h2 class="titulosPag">@ViewBag.nomProyecto </h2>
        <h2>Equipo Actual</h2>
    </div>
}



@if (soyTester || soyCliente)
{
    <div style=" width: 100%; float:right">
        <table class="table">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var integrante in ViewData["equipo"] as IList<ProyectoPI.Models.EquipoModel>)
            {

                <tr>
                    <td>@integrante.empleado</td>
                    <td>@integrante.email</td>
                    <td>@integrante.rol</td>

                </tr>
            }
        </table>
    </div>
}
else
{
    <div style=" width: 50%; float:right">
        <table class="table">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var integrante in ViewData["equipo"] as IList<ProyectoPI.Models.EquipoModel>)
            {
                bool tieneReq = false;

                <tr>
                    <td>@integrante.empleado</td>
                    <td>@integrante.email</td>
                    <td>@integrante.rol</td>
                    @if (!soyTester && !soyCliente)
                    {
                        if (!rol.Equals(@integrante.rol, StringComparison.InvariantCultureIgnoreCase))
                        {
                            foreach (string item in ViewBag.idNoRemover as List<String>)
                            {
                                if (String.Equals(item, integrante.idEmp, StringComparison.InvariantCultureIgnoreCase))
                                {
                                    tieneReq = true;
                                }
                            }

                            if (!tieneReq)
                            {
                                using (Html.BeginForm("RemoverTester", "PARTICIPA"))
                                {
                                    <td>
                                        @Html.Hidden("idProyecto", @id)
                                        @Html.Hidden("idEmpleado", integrante.idEmp)
                                        <input class="botonGeneral colorRojo" type="submit" value="Remover" />
                                    </td>
                                }
                            }
                            else
                            {
                                <td colspan="1" style="color:red">
                                    No se puede remover empleado con requerimiento pendiente
                                </td>
                            }

                        }

                    }

                </tr>
            }
        </table>
    </div>
}



<br />
<br />

<div style="width: 100%; float:right">
    @Html.ActionLink("Volver a Lista de Equipos ", "Index", null, new { @class = "botonGeneral colorGris" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

