@model IEnumerable<ProyectoPI.Models.TeamViewModel>
@{
    ViewBag.Title = "Lista de Equipos";
<h2>Lista de Equipos</h2>

<ul>
    @{string currentID = "0";}

    @foreach (var miembro in ViewData["teams"] as IList<ProyectoPI.Models.TeamViewModel>)
    {
        if (!currentID.Equals(miembro.id))
        {
            <h2>
                @miembro.proyName
            </h2>
            <p>
                @Html.ActionLink("Add or Remove Members","Edit",routeValues: new {id = @miembro.id})
            </p>
            <li>
                @miembro.employee, @miembro.email ,@miembro.role, @miembro.id,
            </li>
            currentID = @miembro.id;
            }
            else
            {
            <li>
                @miembro.employee, @miembro.email ,@miembro.role, @miembro.id
            </li>
            }

            }
        </ul>
}
