@model IEnumerable<ProyectoPI.Models.TeamViewModel>
@{
    ViewBag.Title = "Lista de Equipos";
    <h2 class="titulosPag">Equipos Formados</h2>

    <div class="row">
        @{string currentID = "0";}

        @foreach (var miembro in Model)
        {
            if (!currentID.Equals(miembro.id))
            {
                <h4 class="card-title">
                    @miembro.proyName
                </h4>

            @Html.ActionLink("Añadir o Remover integrantes", "Edit", routeValues: new { id = @miembro.id })
                <li>
                    @miembro.employee , @miembro.email ,@miembro.role, @miembro.id ,
                </li>
            currentID = @miembro.id;
        }
        else
        {
            <li>
                @miembro.employee, @miembro.email ,@miembro.role, @miembro.id
            </li>
        }

    }
</div>
    }



