@model ProyectoPI.Models.CLIENTE

@{
    ViewBag.Title = "Delete";
}

<h2 class="titulosPag">ELIMINAR CLIENTE</h2>

<h3>¿Esta seguro que quiere eliminar este cliente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.primerApellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.primerApellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.segundoApellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cedulaPK)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cedulaPK)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.canton)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.distrito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.distrito)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.direccionExacta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.direccionExacta)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Eliminar" class="volverBoton" />
        </div>

        <div class="form-actions no-color">
            @Html.ActionLink("Volver", "Index", null, new { @class = "volverBoton" })
        </div>
    }
</div>
