@model ProyectoPI.Models.CLIENTE
@{
    ViewBag.Title = "Edit";
}
@{
    string rol = ViewBag.myRol;
}

<h2 class="titulosPag"> Modificar CLIENTE</h2>

@if (rol == "Jefe")
{
    @:@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.cedulaPK)

    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.primerApellido, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.primerApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.primerApellido, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.segundoApellido, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.segundoApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.segundoApellido, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.tel, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.provincia, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            <div id="destino"></div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.canton, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            <div id="destino2"></div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.distrito, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            <div id="destino3"></div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.direccionExacta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.direccionExacta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.direccionExacta, "", new { @class = "text-danger" })
        </div>
    </div>
    <p><br /></p>
    <div class="ubicActual">
        <p><strong>Ubicacion Actual</strong></p>
        @Html.LabelFor(model => model.provincia, new { htmlAttributes = new { @class = "control-label col-md-2" } })
        @Html.DisplayFor(model => model.provincia, new { htmlAttributes = new { @class = "col-md-10" } })
        <br />
        @Html.LabelFor(model => model.canton, new { htmlAttributes = new { @class = "control-label col-md-2" } })
        @Html.DisplayFor(model => model.canton, new { htmlAttributes = new { @class = "col-md-10" } })
        <br />
        @Html.LabelFor(model => model.distrito, new { htmlAttributes = new { @class = "control-label col-md-2" } })
        @Html.DisplayFor(model => model.distrito, new { htmlAttributes = new { @class = "col-md-10" } })
    </div>
    <p><br /></p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @{
                string URL = Request.Url.ToString();
            }
            <a class="botonGeneral colorRojo" href="@URL" role="button"> Cancelar</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="botonGeneral colorVerde" data-toggle="modal" data-target="#guardar">
                Guardar
            </button>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="guardar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><strong>¿Está seguro que desea guardar los cambios realizados?</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>
    }
}
else
{
    <h1>SOLO LOS JEFES PUEDEN MODIFICAR CLIENTES</h1>
}

<div>
    @Html.ActionLink("Volver", "Index", null, new { @class = "botonGeneral colorGris" })
</div>
@Html.Partial("Scripts")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
